html{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black;
    min-width: 320px;
    background-color: black;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Header */
.full_header{
    background-color: rgb(252,231,140);
    display: flex;
    width: 100%;
}
.navbar{
    display: flex;
}

.navbar .navbar-nav .nav-link{
    font-weight: 400;
    padding: 10px 0;
}

.navbar .top-menu {
    flex: 1 1 auto;
    padding: 0 0 0 20px;

}
@media (max-width: 450px) {
    .top-menu img {
        height: 50px !important;
    }
    .navbar .icon-menu {
        font-size: 24pt !important;
    }
}

@media (max-width: 300px) {
    .top-menu img {
        height: 40px !important;
    }
    body {
        font-size: 16pt !important;
    }
    .navbar .icon-menu {
        font-size: 20pt !important;
        padding: 0 20px 0 0 !important;
    }
    .navbar .top-menu {
        padding: 0 0 0 10px !important;

    }
}

.navbar .icon-menu li a{
    color: black;
}
.navbar .icon-menu li a:hover{
    color: rgb(185, 88, 40);
    transition: all 0.3s;
}

.navbar .icon-menu {
    flex: 0 0 auto;
    padding: 0 40px 0 0;
    font-size: 28pt;
}

/* Header */

/*Body*/
.grad {
    width: 100%;
    height: 920px;
    background-color: black;
    color: rgb(252, 231, 140);
}
.grad .row {
    padding: 10px;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grad .row hr{
    height: 5px;
    background: rgb(252, 231, 140);
}

.grad .img {
    height: auto;
    max-width: 100%;
}

.parallax-img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/6f18ca101483265.5f1ffff5aa41d.jpg);
}
.block {
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
    padding: 0;
}

.counties_list {
    padding-left: 0;
}

.parallax {
    height: 100vh;
    width: 100vw;
    text-align: left;
}

.card ul {
    width: 100%;
}

.btn-categories {
    color: black;
    background-color: rgb(252, 231, 140);
    border-color: black;
}

.btn-categories:hover, .btn-categories:focus-visible, .btn-categories:active {
    color: rgb(185, 88, 40);
    border-color: rgb(185, 88, 40);
    background-color: rgb(252, 231, 140);
    transition: all 0.3s;
    filter: brightness(110%);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color:  rgb(185, 88, 40);
    background-color:  rgb(252, 231, 140);
    border-color:  rgb(185, 88, 40);
}

.form-control:focus {
    border-color: rgb(185, 88, 40);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(252 231 140 / 25%);
}

.form-check-input:checked {
    background-color: rgb(185, 88, 40);
    border-color: rgb(185, 88, 40);
}

.form-check-input:focus {
    border-color: rgb(185, 88, 40);
    box-shadow: 0 0 0 0.25rem rgb(185 88 40 / 25%);
}

.pagination {
    --bs-pagination-padding-x: 1rem;
    --bs-pagination-padding-y: 0.5rem;
    --bs-pagination-font-size: 1.2rem;
    --bs-pagination-color: #000;
    --bs-pagination-bg: rgb(252, 231, 140);
    --bs-pagination-border-color: #000;
    --bs-pagination-hover-color: rgb(185, 88, 40);
    --bs-pagination-hover-bg: rgb(252, 231, 140), brightness(100%);
    --bs-pagination-hover-border-color: rgb(185, 88, 40);
    --bs-pagination-focus-color: rgb(185, 88, 40);
    --bs-pagination-focus-bg: rgb(252, 231, 140), brightness(100%);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25 rgb(185 88 40 / 25%);
    --bs-pagination-active-color: #000;
    --bs-pagination-active-bg: rgb(185, 88, 40);
    --bs-pagination-active-border-color: #000;
}
    /*background: linear-gradient(180deg, rgb(252,231,140) 0%, rgb(253,222,87) 100%);*/
/*Body*/

/*Footer*/
footer {
    width: 100%;
    color: rgb(252, 231, 140);
    background-color: rgba(0, 0, 0, 0.95);
}

footer h5 {
    color: rgb(185, 88, 40);
}

footer a {
    color: rgb(252, 231, 140);
    text-decoration: none;
}

footer a:hover {
    color: rgb(185, 88, 40);
    transition: all .3s;
}

/*.flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-30deg);
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite ease-in;
}
@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    50% {
        left: 150%;
    }
    100% {
        left: 150%;
    }
}*/

/*Footer*/